html,body {
margin:0;
padding:0;
background:rgb(140, 145, 151); /*url(../images/base-bg.gif) repeat-x top;*/
width:100%;
height:100%; 
font-family:sans-serif;
}

a img{
border:0;
}

a{
	color: #B80000;
	text-decoration: underline;
}
a:hover{
	color: #FF4322;
	text-decoration: underline;
}

a.hidden {
	text-decoration: none;
	color: #000000;
	cursor:default;
}

form {
	margin:0;
	padding:0;
}

h1 {
	font-weight: bold;
	color: #000000;
	margin: 0px; 
	font-size:15px;
	text-transform:uppercase; 
	margin: 15px 0 8px 0;
}

h3 {
	font-weight:bold;
	text-align:center;
	color:#bd6f2f;
}

h2{
	font-weight:bold;
	text-align:center;
	color:#bd6f2f;
}

p {
	text-align:center;
}

.bottom_addr {
	font-size: 11px;
	color: #000;
	padding: 5px 0 12px 0; 
	text-align:center; 
	font-size:14px;
}

.bottom_addr a {
	text-decoration: none;
}

.bottom_addr a:hover {
	text-decoration: underline;
}

.bottom_menu {
	color: #000000;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 4px; 
	font-size:14px;
}

.bottom_menu a {
	color: #000000;
	text-decoration: none;
	
}

.bottom_menu a:hover {
	color: #000000;
	text-decoration: underline;
}

.body_txt {
	color: #000000;
	text-align: justify;
	padding: 10px;
	vertical-align: top;
}

.textfield {
	font-size: 11px;
	color: #333333;
	padding-left: 1px;
}

#page{
	width:70%;
	margin:10px auto; 
	padding:20px;
	overflow: hidden;
	border-radius:5px;
}

#menu{ 
	border: 1px solid #d19b6f;
	width:939px; 
	margin:0 auto; 
	background:#f9dec7; 
	position:relative;
	height:44px; 
	overflow:hidden; 
	text-align:left;
	padding: 0 5px;
}

#menu ul {
	background-color: blue;
	padding:0px;
	margin:0px;
	margin-left:-10px;
	overflow: hidden;
	border-radius: 0px;
	display: block;
}

#menu ul li .logo {
	border: 1px solid #123;
	border-radius: 0px;
	margin-top: -10px;
	padding:0px;
	float: left;
}

#menu ul li .logo h3 {
    font-family: sans-serif;
}

#menu ul li {
	width:auto;
	height:30px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#000000;
	background-repeat:no-repeat;
	background-position:left center;
	line-height:20px;
	text-align:center;
	margin-left:0px;
	list-style:none;
	padding-left:85px;
	padding-top:10px;
	background:url(images/icon_menu.gif);
}
#menu ul li a {
	width:auto;
	height:30px;
	float:left;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#000000;
	list-style:none;
}

#menu ul li a:hover{
	text-decoration:none;
	color:#B00203;
}

#footer{
	width:939px; 
	margin:0 auto; 
	background:#f9dec7;
	border: 1px solid #fff6f3;
}

#center{
	width:911px; 
	margin:0 auto; 
	background:#fff6f3; 
	padding:15px; 
	font-size:12px; 
	text-align:justify;
}

#reset{
	width:400px; 
	margin:0 auto;
	background:#fff6f3; 
	padding:15px; 
	font-size:12px; 
	text-align:center;
}

#header{ 
	width:1000px; 
	background:url(../images/head-img.jpg) no-repeat; height:276px;
	background-size: cover;
}

#restaurant_name {
	font-size: 48px;
	text-transform: none;
	color: #FAB;
	position:absolute; 
	color:#f9e4be;
	font-family:"trebuchet MS"; 
	width:250px; 
	text-align:center; 
	margin-top:65px;
	margin-left:25px;
}

#logo{
	/*background:url(../images/logo.gif) no-repeat; */
	width:90px; 
	height:89px; 
	position:absolute; 
	margin: 67px 0 0 105px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
.price {
    margin: 0 2px;
    display: inline-block;
    
    padding: 7px;
    background-color: #55D6BE ;
    border-radius: 6px;
}
dd ul li{
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #f9be4a;
    padding: 7px 20px;
    

}


tr:nth-child(even){
	background-color: #F3D9A7;
}


.blockLink
	{
	position:absolute;
	top:0;
	left: 0;
	width:100%;
	height:100%;
	z-index: 2;
	}

.stretchX {
    width: 1000px;
} 
.stretchXY {
    width: 100px; height: 200px
}

/* ================== Responsive ============== */

